<section class="container__preview">
  <div class="card__container">
    <button class="card__reset js-reset" href="#">
      <i class="far fa-trash-alt"></i> reset
    </button>
    <div class="card js-preview">
      <div class="card__personalInfo personalInfoBorderPalette1 js-borde">
        <p
          class="card__personalInfo--name js-personalName personalInfoNamePalette1"
        >
          Nombre Apellido
        </p>
        <p class="card__personalInfo--job js-cardJob">Front-End developer</p>
      </div>
      <div class="card__image js__profile-image"></div>
      <nav class="card__socialInfo">
        <ul class="card__socialMenu">
          <li class="card__rrss">
            <a
              class="card__rrss--item rrssPalette1 js-border1 js-iconPhone"
              href=""
              target="_blank"
              title="phone number"
              ><i class="icon fas fa-mobile-alt js-icon1"></i>
            </a>
          </li>
          <li class="card__rrss">
            <a
              class="card__rrss--item rrssPalette1 js-border2 js-iconEmail"
              href=""
              target="_blank"
              title="email address"
              ><i class="icon far fa-envelope js-icon2"></i>
            </a>
          </li>
          <li class="card__rrss">
            <a
              class="card__rrss--item rrssPalette1 js-border3 js-iconLinkedin"
              href=""
              target="_blank"
              title="linkedin"
              ><i class="icon fab fa-linkedin-in js-icon3"></i>
            </a>
          </li>
          <li class="card__rrss">
            <a
              class="card__rrss--item rrssPalette1 js-border4 js-iconGithub"
              href=""
              target="_blank"
              title="github"
              ><i class="icon fab fa-github-alt js-icon4"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
