$light-khaki: #f9f4dc;
$black-20: rgba(0, 0, 0, 0.2);
$tomato: #e95626;
$dried-blood: #420101;
$rusty-red: #bd1010;
$faded-orange: #eab052;
$light-grey-blue: #a0c0cf;
$azure: #00a0f5;
$white: #d5d5d5;
$white-two: #d8d8d8;
$black: #000;
$gunmetal: #54585a;
$brownish-grey: #6b6b6b;
$slate: #3e5b65;
$dark-green-blue: #114e4e;
$white-three: #fff;
$white-four: #f5f5f5;
$dull-orange: #e17334;
$dull-orange-semi: rgba(225, 115, 52, 0.5);
$hospital-green: #a2deaf;
$dirty-blue: #438792;
$silver: #bfcdd0;
$pale-grey: #dde9ed;

/*tipography*/

$OpenSansRegular: "Open Sans", sans-serif;
$Montserrat: "Montserrat", sans-serif;
$Merriweather: "Merriweather", serif;
