.footer {
  position: sticky;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: $white-three;
  border-top: solid 1px $white-two;
  display: flex;
  justify-content: center;

  &__container {
    width: 100%;
    justify-content: center;
    text-align: center;

    .footer__text {
      font-family: $OpenSansRegular;
      padding-top: 18px;
      display: block;
      font-size: 14px;
      line-height: 20px;
      color: $brownish-grey;
    }

    .footer__logo {
      width: 103px;
      height: 40px;
      margin: 12px 47px 0 48px;
    }
  }
}
