<main class="main__container">

  <h1 class="main__container--title">Crea tu tarjeta de visita</h1>
  <h2 class="main__container--subtitle">Crea mejores contactos profesionales de forma fácil y cómoda</h2>

  <div class="main__container--rectangle">
    <article>
      <img class="iconStyle" src="./assets/images/object-ungroup-solid.svg" alt="icon design" title="icon design" />
      <h3 class="smallText">Diseña</h3>
    </article>
    <article>
      <img class="iconStyle" src="./assets/images/keyboard-solid.svg" alt="icon keyboard" title="icon keyboard" />
      <h3 class="smallText">Rellena</h3>
    </article>
    <article>
      <img class="iconStyle" src="./assets/images/share-nodes-solid.svg" alt="icon share" title="icon share" />
      <h3 class="smallText">Comparte</h3>
    </article>
  </div>
  <nav class=" main__container--link">
    <a class="linkText" href="./createcard.html">Comenzar</a>
  </nav>

</main>