<main class="main__container">
  <img class="main__logo" src="./assets/images/awesome.svg" alt="Logo" title="logo">
  <h1 class="main__title">Crea tu tarjeta de visita</h1>
  <h2 class="main__subtitle">Crea mejores contactos profesionales de forma fácil y cómoda</h2>

  <div class="main__rectangle">
    <article class="main__article">
      <img class="main__article-image" src="./assets/images/object-ungroup-solid.svg" alt="icon design"
        title="icon design" />
      <small class="main__article-text">Diseña</small>
    </article>
    <article class="main__article">
      <img class="main__article-image" src="./assets/images/keyboard-solid.svg" alt="icon keyboard"
        title="icon keyboard" />
      <small class="main__article-text">Rellena</small>
    </article>
    <article class="main__article">
      <img class="main__article-image" src="./assets/images/share-nodes-solid.svg" alt="icon share"
        title="icon share" />
      <small class="main__article-text">Comparte</small>
    </article>
  </div>
  <nav class="main__link">
    <a class="main__link-cta" href="./createcard.html">Comenzar</a>
  </nav>

</main>