.container-desing {
  border: 0;
  width: 281px;
  padding: 27px 0px 0px 0px;
  position: relative;
  border-bottom: 1px solid $white-two;
  @media all and (min-width: 768px) {
    width: 329px;
  }
}
.title-design {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #54585a;
}

.legend {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* padding: 27px 0px;*/
}
fa-angle-up {
  position: absolute;
  right: 20px;
  cursor: pointer;
}

/*.fa-chevron-up {
  position: absolute;
  right: 60px;
}*/
.fa-object-ungroup {
  margin-right: 10px;
  color: #e17334;
}
/*.container-icon {
  display: flex;
  align-items: center;
}*/
.paragraph {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #54585a;
}
.container-colors {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}
.input {
  margin-right: 15px;
}
.design-option {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.design-list {
  list-style: none;
  display: flex;
}
.squad1 {
  width: 30px;
  height: 25px;
  background-color: #114e4e;
}
.squad2 {
  width: 30px;
  height: 25px;
  background-color: #438792;
}
.squad3 {
  width: 30px;
  height: 25px;
  background-color: #a2deaf;
}
.squad1-1 {
  width: 30px;
  height: 25px;
  background-color: #420101;
}
.squad2-2 {
  width: 30px;
  height: 25px;
  background-color: #bd1010;
}
.squad3-3 {
  width: 30px;
  height: 25px;
  background-color: #e95626;
}
.squad1-1-1 {
  width: 30px;
  height: 25px;
  background-color: #3e5b65;
}
.squad2-2-2 {
  width: 30px;
  height: 25px;
  background-color: #eab052;
}
.squad3-3-3 {
  width: 30px;
  height: 25px;
  background-color: #a0c0cf;
}
//paletas nuevas
.squad1-4 {
  width: 30px;
  height: 25px;
  background-color: #ff6b6b;
}
.squad2-4 {
  width: 30px;
  height: 25px;
  background-color: #ffd93d;
}
.squad3-4 {
  width: 30px;
  height: 25px;
  background-color: #6bcb77;
}
.squad1-5 {
  width: 30px;
  height: 25px;
  background-color: #655d8a;
}
.squad2-5 {
  width: 30px;
  height: 25px;
  background-color: #b8405e;
}
.squad3-5 {
  width: 30px;
  height: 25px;
  background-color: #2eb086;
}
.squad1-6 {
  width: 30px;
  height: 25px;
  background-color: #d9d7f1;
}
.squad2-6 {
  width: 30px;
  height: 25px;
  background-color: #fffdde;
}
.squad3-6 {
  width: 30px;
  height: 25px;
  background-color: #e7fbbe;
}
.js-darkGreenBlue {
  color: $dark-green-blue;
  border: $dark-green-blue;
}
.js-colorDirtyBlue {
  color: $dirty-blue;
  border-left: $dirty-blue solid 5px;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
}
.js-hospitalGreen {
  color: $hospital-green;
  border: $hospital-green solid 2px;
}
.js-driedBlood {
  color: $dried-blood;
  border: $dried-blood;
}
.js-rustyRed {
  color: $rusty-red;
  border: $rusty-red solid 5px;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
}
.js-tomato {
  color: $tomato;
  border: $tomato solid 2px;
}
.js-slate {
  color: $slate;
  border: $slate;
}

.js-fadedOrange {
  color: $faded-orange;
  border: $faded-orange solid 5px;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
}
.js-lightGreyBlue {
  color: $light-grey-blue;
  border: $light-grey-blue solid 2px;
}

.palette-1 {
  .card__rrss--item {
    color: $dark-green-blue;
    border: 2px solid $hospital-green;
  }
  .card__personalInfo {
    border-left: 5px solid $dirty-blue;
  }
  .card__personalInfo--name {
    color: $dark-green-blue;
  }
}

.palette-2 {
  .card__rrss--item {
    color: $dried-blood;
    border: 2px solid $rusty-red;
  }
  .card__personalInfo {
    border-left: 5px solid $tomato;
  }
  .card__personalInfo--name {
    color: $dried-blood;
  }
}

.palette-3 {
  .card__rrss--item {
    color: $slate;
    border: 2px solid $faded-orange;
  }
  .card__personalInfo {
    border-left: 5px solid $light-grey-blue;
  }
  .card__personalInfo--name {
    color: $slate;
  }
}

.palette-4 {
  .card__rrss--item {
    color: $pink;
    border: 2px solid $yellow;
  }
  .card__personalInfo {
    border-left: 5px solid $green;
  }
  .card__personalInfo--name {
    color: $pink;
  }
}

.palette-5 {
  .card__rrss--item {
    color: $blue-ocean;
    border: 2px solid $magenta;
  }
  .card__personalInfo {
    border-left: 5px solid $green-forest;
  }
  .card__personalInfo--name {
    color: $blue-ocean;
  }
}

.palette-6 {
  .card__rrss--item {
    color: $lavende;
    border: 2px solid $sand;
  }
  .card__personalInfo {
    border-left: 5px solid $green-lime;
  }
  .card__personalInfo--name {
    color: $lavende;
  }
}

@media (min-width: 768px) {
  /*.container-desing {
    width: 329px;
    margin: 0 20px 0 20px;
  }*/
  /*.fa-chevron-up {
    right: 460px;
  }*/
}
/*@media (min-width: 1200px) {
  .fa-chevron-up {
    right: 830px;
  }
}*/
