.container-desing {
  border: 0;
  width: 281px;
  padding: 27px 0px 30px 0px;
}
.title-design {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #54585a;
}
.legend {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px 0px;
}
.fa-object-ungroup {
  margin-right: 10px;
  color: #e17334;
}
.container-icon {
  display: flex;
  align-items: center;
}
.paragraph {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #54585a;
}
.container-colors {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}
.design-option {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.design-list {
  list-style: none;
  display: flex;
}
.squad1 {
  width: 30px;
  height: 25px;
  background-color: #114e4e;
}
.squad2 {
  width: 30px;
  height: 25px;
  background-color: #438792;
}
.squad3 {
  width: 30px;
  height: 25px;
  background-color: #a2deaf;
}
.squad1-1 {
  width: 30px;
  height: 25px;
  background-color: #420101;
}
.squad2-2 {
  width: 30px;
  height: 25px;
  background-color: #bd1010;
}
.squad3-3 {
  width: 30px;
  height: 25px;
  background-color: #e95626;
}
.squad1-1-1 {
  width: 30px;
  height: 25px;
  background-color: #3e5b65;
}
.squad2-2-2 {
  width: 30px;
  height: 25px;
  background-color: #eab052;
}
.squad3-3-3 {
  width: 30px;
  height: 25px;
  background-color: #a0c0cf;
}

.js-darkGreenBlue {
  color: $dark-green-blue;
  border: $dark-green-blue;
}
.js-colorDirtyBlue {
  color: $dirty-blue;
  border: $dirty-blue;
}
.js-hospitalGreen {
  color: $hospital-green;
  border: $hospital-green solid 2px;
}
.js-driedBlood {
  color: $dried-blood;
  border: $dried-blood;
}
.js-rustyRed {
  color: $rusty-red;
  border: $rusty-red;
}
.js-tomato {
  color: $tomato;
  border: $tomato solid 2px;
}
.js-slate {
  color: $slate;
  border: $slate;
}

.js-fadedOrange {
  color: $faded-orange;
  border: $faded-orange;
}
.js-lightGreyBlue {
  color: $light-grey-blue;
  border: $light-grey-blue solid 2px;
}

@media (min-width: 768px) {
  .container-desing {
    width: 329px;
    margin: 0 20px 0 20px;
  }
}
